# Unreal Engine
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Build/

# 编译文件
*.pdb
*.pch
*.obj
*.ilk
*.exp
*.lib

# 插件编译文件
Plugins/*/Binaries/
Plugins/*/Intermediate/

# IDE 文件
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf

# 大型缓存文件
*.cache
*.bin
Plugins/ALS_System/Intermediate/
.vs/
*.DotSettings.user
